/* ------------------------------------------
global class
-------------------------------------------- */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1050px;
    margin: 0 auto;
    position: relative;
}

.green-button {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    background-color: #24BA9F;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
}

.main-color {
    color: #24BA9F;
    font-weight: bold;
}

.col1-3 {
    width: 33.3333%;
    height: 100%;
    float: left;
}

.col1-2 {
    width: 50%;
}

.headline-border {
    font-size: 18px;
    font-weight: 700;
    width: 150px;
    border-bottom: 8px solid #24BA9F;
}

.container .bottom-border {
    width: 330px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 40px;
    margin-bottom: 20px;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}


/* kolor zielono-niebieski #24BA9F */


/* ------------------------------------------
layout
------------------------------------------- */

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}


/* ------------------------------------------
header
------------------------------------------- */

#main-header {
    height: 40px;
    background-color: #000;
    z-index: 1;
}

.main-logo-link {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 40px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    background-color: #000;
    margin-left: 30px;
}

.main-navi {
    float: right;
}

.main-menu {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    margin-right: 30px;
    margin-top: -40px;
    position: relative;
}

.main-menu li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.main-menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 40px;
    background-color: #000;
}

.main-menu a:hover {
    color: #24BA9F;
}


/* ------------------------------------------
submenu ze strzałką
------------------------------------------- */

.sub-menu {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    position: absolute;
    left: -5%;
    margin-top: 20px;
    display: none;
    z-index: 1;
}


/* .main-menu li:hover .sub-menu {
    display: block;
} */

.sub-menu:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.sub-menu:before {
    content: "";
    background: transparent;
    position: absolute;
    left: 0;
    top: -20px;
    height: 20px;
    width: 100%;
}

.sub-menu li {
    padding: 0 5px;
    display: block;
}

.sub-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    text-transform: none;
    background-color: #000;
}


/* ------------------------------------------
section id="slider"
------------------------------------------- */

#slider {
    background: linear-gradient(to bottom, #fafafa 0%, #d1d0d8 100%);
    height: 500px;
}

.slider-prev,
.slider-next {
    width: 80px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 600;
    text-decoration: none;
    color: #24BA9F;
    background: none;
    border: 0;
    transition: 0.5s color;
}

.slider-prev:hover,
.slider-next:hover {
    color: #000;
}

.slider-prev:focus,
.slider-next:focus {
    outline: none;
}

.slider-next {
    right: 0;
    left: auto;
}

.slide-active {
    width: 890px;
    height: 500px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.slide-photo {
    width: 50%;
    height: 300px;
    margin-top: 100px;
}

.slide-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.slide-title {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 15px;
}

.slide-text {
    color: #000;
    font-size: 15px;
    text-align: center;
    width: 80%;
}

.green-button.slide-button {
    font-size: 22px;
    margin-top: 40px;
    width: 60%;
}


/* ------------------------------------------
section id="products"
------------------------------------------- */

#products {
    background-color: #fff;
    height: 300px;
}

#products>h2 {
    display: none;
}

.products.photo {
    width: 329px;
    height: 225px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.products img {
    width: 329px;
    height: 225px;
    border: 1px solid #d3d3d3;
    transition: 1s all;
}

.products img:hover {
    transform: scale(1.1, 1.1);
}

.products-link .photo-headline {
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 130px;
    left: 0;
    transition: 0.5s background-color display;
}

.products-link .photo-headline:hover {
    background: rgba(255, 255, 255, 0.8);
}

.products span {
    width: 155px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(70%);
}

.products-link {
    text-decoration: none;
    color: #000;
}

.products.products-description {
    border: 1px solid #d3d3d3;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.products .products-title {
    position: absolute;
    top: 10px;
    margin-left: 20px;
}

.products-text {
    font-size: 14px;
    position: absolute;
    top: 60px;
    padding: 20px;
    overflow: hidden;
}


/* ------------------------------------------
section id="offer"
------------------------------------------- */

#offer {
    background-color: #f1f1f1;
    width: 100%;
    height: 700px;
}

.box {
    background-color: #f9f9f9;
    width: 330px;
    height: 500px;
    text-align: center;
    border: 2px solid #c2c2c2;
    margin: 50px 15px;
    position: relative;
}

.box.offer-box1 {
    float: left;
    margin-left: 0;
}

.box.offer-box3 {
    float: right;
    margin-right: 0;
}

.box:before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #c2c2c2;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);
    transition: 1s;
}

.box:after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #c2c2c2;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: 1s;
}

.box .box-headline {
    font-size: 25px;
    font-weight: 600;
    color: #24BA9F;
    text-transform: uppercase;
    display: block;
    margin: 30px 0;
}

.box .price {
    background-color: #fff;
    color: #c2c2c2;
    font-size: 35px;
    font-weight: 700;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #c2c2c2;
    margin: auto;
    padding-top: 20px;
}

.box .money {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.box .offer-details {
    line-height: 40px;
    width: 100%;
    margin-top: 30px;
}

.box .offer-details li {
    font-size: 22px;
    line-height: 45px;
    color: #919191;
    text-align: center;
    line-height: 35px;
    padding: 5px 0;
}

.box .offer-details li:nth-child(odd) {
    background-color: #e4e4e4;
}

.box .offer-details li:nth-child(even) {
    background-color: #f1f1f2;
}

.box a {
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    padding: 7px 0;
}


/* middle box - green style  ------------------*/

.box.offer-box2 {
    background-color: #24BA9F;
    border-color: #24BA9F;
    color: #fff;
    width: 330px;
}

.box.offer-box2 a {
    background: #fff;
    color: #24BA9F;
}

.box.offer-box2 .box-headline {
    color: #fff;
}

.box.green-box:before {
    background-color: #24BA9F;
    border: 2px solid #24BA9F;
}

.box.green-box:after {
    background-color: #fff;
}


/* ------------------------------------------
section id="calc"
------------------------------------------- */

#calc {
    width: 100%;
    height: 500px;
    margin-bottom: 35px;
}

.calc-form .row {
    width: 100%;
}

.calc-headlines h3 {
    float: left;
    width: 50%;
}

.calc-headlines h3:nth-child(2) {
    float: right;
    text-align: right;
}

.calc-form .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.select-container {
    overflow: visible;
    background: url(../images/arrow.png) no-repeat right #fff;
}

.calc-select {
    padding: 15px;
    margin: 10px 0;
    letter-spacing: 2px;
    border: 1px solid #24BA9F;
    color: #c2c2c2;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    -webkit-appearance: none;
    background: transparent;
}

.calc-select:focus {
    outline: 0;
}


/* lewa strona formularza---------------- */

.calc-form-left {
    height: 300px;
}

.calc-select {
    width: 100%;
}

.form-text.transport {
    font-size: 30px;
    margin-left: 30px;
    margin-top: -50px;
}


/* środek formularza-------------------- */

.calc-form-center {
    text-align: center;
    flex-grow: 1;
    margin-bottom: 90px;
}


/* prawa strona formularza----------- */

.calc-form-right {
    height: 300px;
}

.order-container {
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.order-prices,
.order-details {
    /* border: 2px solid blue; */
    width: 50%;
    height: 160px;
}

.order-details {
    border-right: 1px solid #c2c2c2;
}

.order-sum {
    /* border: 2px solid blue; */
    width: 100%;
    height: 40px;
    padding: 5px;
    padding-top: 15px;
    border-top: 1px solid #c2c2c2;
    font-size: 18px;
    text-transform: uppercase;
}

.order-details-list .order-item,
.order-details-prices,
.order-total-sum {
    padding: 5px;
    color: #24BA9F;
    font-size: 18px;
}

.order-details-list li {
    padding: 5px 0;
    padding-left: 8px;
    color: #c2c2c2;
    line-height: 25px;
}

.order-details-prices li {
    padding: 5px 0;
    color: #24BA9F;
    text-align: right;
    line-height: 25px;
}

.order-details-prices {
    float: right;
}

.order-sum span {
    padding: 5px;
    float: left;
    font-size: 20px;
    /*font-weight: bold;*/
}

.order-sum .order-total-sum {
    float: right;
    color: #24BA9F;
}

.orderBtn {
    width: 100%;
}

.orderChair {
    margin-top: 20px;
    transform: scale(0.8, 0.8);
}


/* ------------------------------------------
section id="form"
------------------------------------------- */

#form {
    background-color: #f1f1f1;
    height: 500px;
    margin-top: -100px;
    width: 100%;
}

.bottom-border {
    width: 330px;
}

.input {
    width: 100%;
    height: 350px;
}


/* formularz - lewa strona ----------------------------- */

.form-left {
    width: 55%;
    float: left;
}

.form-input,
textarea {
    padding: 25px;
    margin: 10px 0;
    letter-spacing: 2px;
    border: 1px solid #24BA9F;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.input,
textarea {
    color: #c2c2c2;
}

.form-left input:focus,
textarea:focus {
    outline: 0;
}

.form-left textarea {
    overflow: auto;
    height: 150px;
    resize: none;
}


/* formularz - prawa strona --------------------------------*/

.form-right {
    width: 35%;
    height: 350px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form-right>img {
    margin-top: -20px;
}

.form-checkbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-style-ch {
    left: -99999999px;
    display: none;
}

.form-checkbox {
    position: relative;
}

.form-checkbox .checkbox-label input~.img-checked {
    width: 50px;
    height: 50px;
    border: 1px solid #24BA9F;
    display: inline-block;
}

.form-checkbox .checkbox-label input~.img-checked:before {
    width: 50px;
    height: 50px;
    background: url(../images/form_ok.jpg) center center no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    opacity: 0;
    visibility: visible;
    transform: scale(0.6, 0.6);
    transition: 0.5s all;
}

.form-checkbox .checkbox-label input:checked~.img-checked:before {
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1);
}

.form-text {
    text-transform: none;
    font-size: 18px;
    color: #c2c2c2;
    padding-left: 30px;
    display: inline-block;
    width: 85%;
    vertical-align: top;
}

.green-button {
    font-size: 30px;
    width: 100%;
}


/* ------------------------------------------
footer id="footer"
------------------------------------------- */

#footer {
    height: 200px;
    margin-top: 20px;
}

#footer .container {
    display: flex;
    flex-direction: row;
}

.copy {
    font-size: 18px;
    line-height: 35px;
    color: #c2c2c2;
}


/* ----------------------------------------------------- */

.social-icons-box {
    margin-left: 300px;
    margin-right: 50px;
}

.social-icons li {
    display: inline-block;
}

.social-icons li .social {
    width: 35px;
    height: 35px;
    text-indent: -999px;
    overflow: hidden;
    text-align: left;
    display: inline-block;
}

.social-icons .social-flickr {
    background: url(../images/flickr.png) no-repeat;
}

.social-icons .social-vimeo {
    background: url(../images/vimeo.png) no-repeat;
}

.social-icons .social-pinterest {
    background: url(../images/pinterest.png) no-repeat;
}

.social-icons .social-twitter {
    background: url(../images/twitter.png) no-repeat;
}


/* ------------------------------------------------------- */

.main-logo-link.main-logo-grey {
    color: #c2c2c2;
    line-height: 35px;
    background: #fff;
    float: right;
    margin-left: 30px;
}

.main-logo-link>span {
    font-weight: bold;
}